// Font-sizes
$font-size-xxl: 150px;
$font-size-xl: 80px;
$font-size-l: 45px;
$font-size-m: 36px;
$font-size-s: 24px;
$font-size-xs: 20px;

// Font-weights
$font-weight-thin: 100;
$font-weight-light: 300;
$font-weight-medium: 500;
$font-weight-bold: 700;

// Colors
$color-white: #ffffff;
$color-heading: #ffffff5d;

// Breakpoints
// laptop 13"
$break-point-l: 1440px;
// iPad
$break-point-m: 768px;
// iPhone X
$break-point-s: 375px;