// Font-families

// Font-sizes
$font-size-xl: 150px;
$font-size-l: 45px;
$font-size-m: 36px;
$font-size-s: 24px;
$font-size-xs: 16px;

// Font-weights
$font-weight-thin: 100;
$font-weight-light: 300;
$font-weight-medium: 500;
$font-weight-bold: 700;

// Colors
$color-white: #ffffff;
$color-heading: #ffffff5d;