// Font-sizes
$font-size-xxl: 150px;
$font-size-xl: 80px;
$font-size-l: 45px;
$font-size-m: 36px;
$font-size-s: 24px;
$font-size-xs: 16px;

// Font-weights
$font-weight-thin: 100;
$font-weight-light: 300;
$font-weight-medium: 500;
$font-weight-bold: 700;

// Colors
$color-white: #ffffff;
$color-heading: #ffffff5d;

// Breakpoints
$break-point-xl: 1200px;
$break-point-l: 1024px;
$break-point-m: 768px;
$break-point-ms: 560px;
$break-point-s: 480px;
$break-point-xs: 375px;