.footer-wrapper {
    background-color: grey;
    position: absolute;
    bottom: 0;
    width: 100vw;
}

.footer-text {
    text-align: center;
}

.footer-text__hyperlink {
    text-decoration: none;
    color: black;
}