@import 'variables';

.footer-wrapper {
    background-color: black;
    position: fixed;
    bottom: 0;
    width: 100vw;
}

.footer-text {
    text-align: center;
    color: white;
}

.footer-text__hyperlink {
    text-decoration: none;
    color: white;
}