@import 'variables';

.get-weather-wrapper {
    font-weight: $font-weight-light;
    color: $color-white;
}

    .background-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: -100;
    }

    .location {
        // border: 1px solid red;
        
    }
    
    .location-timezone {
        // border: 1px solid blue;
        text-align: center;
        font-size: $font-size-l;
        font-weight: $font-weight-light;
        margin: 0 0 50px 0;
        @media only screen and (max-width: $break-point-l) {
            margin: 0 0 10px 0;
        }
        @media only screen and (max-width: $break-point-m) {
            margin: 0 0 50px 0;
        }
        @media only screen and (max-width: $break-point-s) {
            margin: 0 0 10px 0;
            font-size: $font-size-m;
        }
    }

    .icon-temperature-container {
        // background-color: blue;
        display: flex;
        flex-direction: row;
        justify-content: center;
        overflow: hidden;
        @media only screen and (max-width: $break-point-m) {
            flex-direction: column-reverse;
            align-items: center;
        }
    }

    .icon-wrapper {
        // background-color: blue;
        width: 400px;
        text-align: center;
        @media only screen and (max-width: $break-point-s) {
            max-width: 100vw;
        }
    }

        .icon {
            // border: 1px solid red;
            @media only screen and (max-width: $break-point-s) {
                height: 150px;
                width: 150px;
            }
        }

    .temperature {
        // background-color: gray;
        width: 400px;
        text-align: center;
    }

        .temperature-current__summary {
            // border: 1px solid red;
            font-size: $font-size-m;
            @media only screen and (max-width: $break-point-s) {
                // max-width: 100vw;
            }
        }

        .temperature-degree {
            // border: 1px solid red;
            font-size: $font-size-xl;
            font-weight: $font-weight-light;
            margin: 0;
        }

        .temperature-degree__high {
            // border: 1px solid red;
            font-size: $font-size-s;
            font-weight: $font-weight-light;
            margin-bottom: 0;
            @media only screen and (max-width: $break-point-s) {
                font-size: $font-size-xs;
            }
        }

        .temperature-degree__low {
            // border: 1px solid red;
            font-size: $font-size-s;
            font-weight: $font-weight-light;
            margin-top: 0;
            @media only screen and (max-width: $break-point-s) {
                font-size: $font-size-xs;
            }
        }

    .sunset-sunrise-wrapper {
        // background-color: grey;
        width: 100vw;
        text-align: center;
        font-size: $font-size-s;
        @media only screen and (max-width: $break-point-s) {
            font-size: $font-size-xs;
        }
    }

        .sunrise-time {
            // border: 1px solid pink;
            margin-bottom: 0;
            @media only screen and (max-width: $break-point-m) {
                margin-top: 0;
            }
        }
        
        .sunset-time {
            // border: 1px solid pink;
            margin-top: 0;
        }

    .tomorrows-summary-wrapper {
        // background-color: grey;
        text-align: center;
        font-size: $font-size-s;
        @media only screen and (max-width: $break-point-s) {
            font-size: $font-size-xs;
            margin-top: 50px;
        }
    }

        .tomorrows-summary {

        }