
.get-weather-wrapper {

}

    .location {
        border: 1px solid red;
    }

        .location-timezone {
            border: 1px solid blue;
        }

    .icon-wrapper {
        border: 1px solid green;
    }

    .temperature {
        
    }

        .temperature-description {
            border: 1px solid yellow;
        }

        .temperature-degree {
            border: 1px solid red;
        }

        .temperature-degree__high {
            border: 1px solid red;
        }

        .temperature-degree__low {
            border: 1px solid red;
        }

    .sunset-sunrise-wrapper {
        
    }

        .sunrise-time {
            border: 1px solid pink;
        }
        
        .sunset-time {
            border: 1px solid pink;
        }