@import 'variables';

.heading-wrapper {
   
}

    .heading {
        font-size: $font-size-xxl;
        font-weight: $font-weight-bold;
        color: rgba(255, 255, 255, 0.1);
        margin: 0;
        padding: 0;
        text-align: center;
    }