@import 'variables';

.heading-wrapper {
   
}

    .heading {
        font-size: $font-size-xl;
        font-weight: $font-weight-bold;
        margin: 0;
        padding: 0;
        text-align: center;
    }